body{
  margin: 0px;
  background-color: lightgreen;
}

h1{
  text-align: center;
  font-size: 60px;
}

p,h2{
  text-align: center;
  font-size: 30px;
}

a{
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  position: absolute;
  left: 46.6%;
}

a :hover{
  background-color: black;
  color: white;
}
