h1{
  text-align: center;
  color: white;
}
body{
  Background-color: gray;
  margin: 0;
}
h2{
  text-align: center;
  color: darkmagenta;
}
ul{
  background-color: white;
  overflow: hidden;
  list-style-type: none;
  margin:0;
  padding: 10px;
}
li{
  float: left;
}
li a{
  text-decoration: none;
  margin: 0;
  padding: 10px 10px;
}
li :hover{
  background-color: Black;
  color: white;
}
