h1{
  text-align: center;
  color: white;
}
body{
  Background-color: gray;
  margin: 0;
}
ul{
  background-color: white;
  overflow: hidden;
  list-style-type: none;
  margin:0;
  padding: 0px;
  position: fixed;
}
li {
  float:left;
}
li a{
  text-decoration: none;
  margin: 0;
  padding: 10px 10px;
  color: black;
  display: block;
}
li :hover{
  background-color: Black;
  color: white;
}
